
.display th {
  border: 2px solid DarkBlue;
  text-align: left;
  margin: 2px;
  border-spacing: 2px;
  padding: 3px;
  font-weight: bold;
}

.display td {
  border: 2px solid DarkBlue;
  text-align: left;
  margin: 2px;
  border-spacing: 2px;
  padding: 3px;
}

.canton {
  fill: #6496c8;
}

.canton-boundary {
  fill: none;
  stroke: #Crimson;
  stroke-linejoin: round;
}


.textonmap {
  color: black;
  cursor: pointer;
  font-weight: normal;
}

label.radio {

  color: white;
  font-weight: bold;
}

#map svg {
  border: 2px solid RoyalBlue;
}
